* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after {
    box-sizing: border-box;
}

@keyframes circle {
    0%   { transform: rotate(0deg) }
    50%  { transform: rotate(180deg)}
    100% { transform: rotate(360deg)}
}
.layout {
    display:flex;
    flex-direction: column;
    height:100vh;
    background-color: transparent;
    background-position:center;
    background-repeat: no-repeat; 
    background-size: cover;
    opacity:1;
    
}
.layout::after {
    content:'';
    background-color: rgba(0,0,0,0.19);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.disc-container {
   position: relative;

}
.disc-container .spindle {
    position: absolute;
    left:47%;
}
.disc-container .spindle{
   width: 24vw;
}
.disc-container .record-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
} 
.disc-container .ring {
    width: 78vw;
    
}
.disc-container .halo {
    position:absolute;
    width: 78vw;
    
}

.disc-container .cover {
    position:absolute;
    width: 48vw;
    border-radius:50%;
    
}
.disc-container .playing {
    animation: circle 20s infinite linear;
}
.menu2 .playing {
    display:block;
}
.songs-description {
    text-align:center;
    color: #6b6567;
    margin-top:10vw;
    
}
.songs-description h1 {
    font-size: 5.6vw;
    font-weight: 400;
    color: #fff;
}
.songs-description .lyricWrap{
    height: 72px;
    overflow: hidden;
    margin-top: 4vw;
    line-height: 1.5;  
}
.songs-description .lyric {
   transition: .3s;  
}
.songs-description p {
    
    font-size:16px;
}
.songs-description p.active {
    color:#fff;

}
.btn-pause,.btn-play {
    fill: #fff;
    position: absolute;
    margin-left: -13vw;
    z-index:2;
}
.btn-pause {
    left: 50%;
    top: 23%; 
    display: none;    
}
.btn-play {
    left: 52%;
    top: 24%;
    display:none; 
}
.icon-pause {
    width: 28vw;
    height: 28vw; 
    
}
.icon-play {
    height: 24vw;
    width: 24vw;
   
}
.btn-control > .active {
    display: block;
}